tr {
    background-color: rgb(207, 237, 255);
}
td {
    background-color: lavenderblush;
    text-align: center;
}
input {
    background-color: lavenderblush;
    text-align: center;
}
button {
    background-color: lavenderblush;
    text-align: center;
}