.TopDiv {
    background-color: #0b4e91;
     color: white;
    padding: 20px;
    text-align: center;
}

h1 {
     margin: 0;
     font-size: 2em;
}

.MainDiv {
    display: block;
    padding: 15px;
    outline: rgb(189, 189, 189) solid 1px;
    margin-top: 40px;
    border-radius: 50px 50px 50px 50px;
    width: 350px;
    box-shadow: rgb(100, 100, 100) 3px 3px 5px;
}

input {
    border: none;
    background-color: #0b4e91;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
}

input:hover {
    background-color: #062747;
}