.TopDiv {
    background-color: #0b4e91;
     color: white;
    padding: 20px;
    text-align: center;
}

h1 {
     margin: 0;
     font-size: 2em;
}

pre {
   font-weight: bold;
}

input {
    border: none;
    background-color: #0b4e91;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
}

input:hover {
    background-color: #062747;
}