body {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    padding: 0px;
}

.heading {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: 2px solid white;
}

.F1LogoWhite {
    width: 100px;
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 10px;
}

h1 {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}

h2 {
    color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

input{
    color: #ffffff;
    background-color: #ff0000;
    width: 175px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #6b0000;
    border-radius: 5px;
    font-size: 1.5em;
}
input::placeholder {
    color: #ffffff;
    font-size: 0.75em;
}

.SQLinput{
    color: #ffffff;
    background-color: #ff0000;
    width: 600px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #6b0000;
    border-radius: 5px;
    font-size: 1em;
}

button{
    color: #ffffff;
    background-color: #c00000;
    width: 175px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #4d0000;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover{
    background-color: #ff0000;
}

.ResultsBox {
    width: 90%;
    border: 2px solid black;
    background-color: rgb(70, 70, 70);
    padding: 10px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
.Results {
    font-weight: bold;
}