body {
    background: #1b1b1b;
    color: white;
    font-family: Arial;
    text-align: center;
}

#workspace {
    width: 900px;
    height: 500px;
    margin: auto;
    border: 2px solid #555;
    background: #262626;
    position: relative;
}

#tray {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background: #111;
}

.tray-gear {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #7e7e7eff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    font-weight: bold;
}

#custom-gear {
    display: flex;
    align-items: center;
    gap: 6px;
}

#custom-gear input {
    width: 60px;
    padding: 4px;
}

.gear {
    position: absolute;
    cursor: grab;
}

.motor {
    outline: 3px solid rgb(255, 166, 0);
}

.level-2 {
    opacity: 0.65;
    outline: 3px solid #000000;
    transform: translateY(-12px) scale(0.95);
    pointer-events: auto;
}

.gear-ui {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
    pointer-events: auto;
}

.gear-ui button {
    width: 22px;
    height: 18px;
    font-size: 10px;
    cursor: pointer;
}

.stats {
    background: rgba(0,0,0,0.6);
    padding: 2px 4px;
    border-radius: 4px;
    margin-bottom: 2px;
}

#trash {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
}

.gear-rotator {
    width: 100%;
    height: 100%;
}

.gear-ui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}

.level-controls {
    margin-top: 4px;
}