.TopDiv {
    background-color: #4da6ff;
     color: white;
    padding: 20px;
    text-align: center;
}

h1 {
     margin: 0;
     font-size: 2em;
}

.MainDiv {
    display: none;
    padding: 15px;
    outline: rgb(189, 189, 189) solid 1px;
    margin-top: 40px;
    border-radius: 50px 50px 50px 50px;
    width: 500px;
    height: 200px;
    box-shadow: rgb(100, 100, 100) 3px 3px 5px;
}

button {
    border: none;
    background-color: #4da6ff;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 6px;
    transition: transform 0.3s;
}

button:hover {
    background-color: #1a8cff;
    transform: translate(3px, 0);
}